@media screen and (max-width:1140px)
{
    .navbar_two{
        margin-left: 170px;
    
      }
      .nav_image{
        margin-left: -70px;
  }
  .reklama{
      width: 100%;
      height: 180px;
  }
}


@media screen and (max-width:995px)
{
    .card_l{
        width: 100%;
    }
   .card_r{
       display: none;
   }
  .navbar1{
      display: none;
  }

  .nav_collec{
      display: none;

  }
  header{
      height: 70px;
  }
  .nav_image img{
      width:170px;
      
  }

  .menu_bar{
      display: block;
      display: flex;
      margin-right: 50px;
      margin-top: 17px;
  }
  
  
}    

@media screen and (max-width:770px)
{
    .reklama{
        width: 100%;
        height: 120px;
    }

    /* .card_r{
        display: none;
    }

    .card_l{
        width: 100%;
    } */
}

@media screen and (max-width:600px){

    .card_l{
        width: 100%;
        height:500px;
        display: flex;
        flex-wrap: wrap;
        align-content:flex-start;
        justify-content: space-around;
        justify-content: center;
    }
    .cards_l{
        background: #fff;
        width: 80%;
        height: 270px;
        border-radius: 10px;
        margin:10px 25px 10px 0 ;
    
        
    }

    .card_icon{
        border: 2px solid #555;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-left: 38%;  
        margin-top: 45px;
        
    }
    
}

@media screen and (max-width:450px) {
        .nav_img{
            display: none;
        }

        .reklama{
            width: 100%;
            height: 100px;
        }

        .nav_images{
            display: block;
        }

        
    }

    @media screen and (max-width:425px) {

        .menu_bar{
            margin-left: -50px;
        }


    }
    @media screen and (max-width:375px) {

        .menu_bar{
            margin-left: -130px;
        }

        .card_icon{
            border: 2px solid #555;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin-left: 30%;  
            margin-top: 45px;
            
        }

    }



