*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.content{
    width: 100%;
    height: 200vh;
    margin: auto;
    overflow: hidden;
}


header{
    width: 100%;
    height: 120px;
    background: brown;

   
}
.navbar1{
    width: 100%;
    height: 50px;
    display: flex;
    
  
}

.nav_left{
    width: 50%;
    height: 100%;
    background: #F1F8FF;
    border: none;
    
    
}
.collection{
    display: flex;
    list-style: none;
    margin-left: 70px;

       
    
    
}

.collection li{
                  
    padding-left: 30px;
    padding-top:15px;
    color: #555;

}
.navbar2{
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
}
   

    .nav_collec{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        list-style: none;
        margin-top: 18px;

    }
    
    
   
    
   

.navbar_two{
    width: 60%;
    height: 100%;
    margin-left: 240px;

   
}
.navbar_two li{
    color: #555;
    font-size: 18px;
}
.nav_image{
    height: 100%;

      
  }
.nav_image img{
    width: 220px;
    height: 90px;
    padding-bottom: 17px;
    margin-left: 80px;
}
.nav_right{
    width: 50%;
    height: 100%;
    background: #F1F8FF;

    
}
.collectiona{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: #555;


   
   
}

 i{
        font-size: 20px;
        /* position: relative;
        left: -9px; */
    }

    .menu_bar{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        display: none;


      
    }

    .menu_bar i{
        color: red;
        padding: 10px;
    }



   .nav_img img{
         margin-left: 0px;
        width: 100%;
        height: 300px;
   }

  .carousel-item{
      height: auto;
      object-fit: cover;
  }
   .nav_collec{
       width: 100%;
       height: 100%;
       padding-top: 10px;
   }


   .nav_images{
        width: 120%;
        height: 300px;
        display: none;
   }
   .nav_images img{
       width: 100%;
       height: 300px;
       margin-left: -20px;

   }

   .cantainer{
    margin-top: 0px;
    width: 100%;
    height: 3000px;
    margin: auto;
    background: url('https://uztelecom.uz/images/section2-pattern-1.png') no-repeat center/cover;

}

.reklama{
    width: 100%;
    height: 200px;
    margin: auto;
    position: relative;
    top: 20px;
}

.reklama img{
    width: 80%;
    height: 100%;
    margin-left: 10%;

}

.commanda{
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    display: flex;
}

.card_l{
    width: 75%;
    height:500px;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    justify-content: space-around;
    justify-content: center;
}
.cards_l{
    background: #fff;
    width: 250px;
    height: 270px;
    border-radius: 10px;
    margin:10px 25px 10px 0 ;

    
}
.card_r{
    width: 35%;
    height: auto;
    border-radius: 10px;
    margin-top: 20x;

    
}

.card_icon{
    border: 2px solid #555;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 70px;  
    margin-top: 45px;
    
}

.card_icon i{
    font-size: 40px;
    color: #555;
    margin-left: 27px;
    margin-top: 27px;

}

.card_icon P{
    color: #555;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
    transition: .5s;
}
.cards_l span{
    font-size:25px ;
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.card_icon:hover{
    border: 2px solid #238AD5;
    color: #238AD5;
    transition: .5s;
}
.card_icon:hover i{
    border: 2px solid #238AD5;
    border: none;
    color: #238AD5;
    transition: .5s;
}


.logo_image{
    width: 100%;
    height: 60px;
    background: url('https://oplata.kapitalbank.uz/img/uztelecom-header.3121b248.png') no-repeat center/cover;
    border-radius:13px 13px 0 0;
}